@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 40%;
  }
}
